
header {
  width:             100%;
  height:            65px;
  background-color:  #48304D;
  color:             #D2F1E4;
  position: fixed;
  top: 0;
  left: 0;
  padding-bottom: 5px
}

header h1 {
  margin-left: 10px;
}

footer {
  width:             100%;
  height:            30px;
  background-color: #48304D;
  color:             #D8CFAF;
  position: fixed;
  bottom: 0;
  left: 0;
}

footer a {
  padding-left: 20px;
}

a:visited {
    color: #FBCAEF;
}


body {
  width: 10%
  margin: 0 auto;
  color: #48304D;
}


img {
  width: 300px;
}

main {
  margin-top: 100px;
}

button {
}

#stay-at-top-store {
  float: left;
  width:             100%;
  height:            60px;
  background-color: #D2F1E4;
  color:             #48304D;
  font-weight: lighter;
  position: fixed;
  top: 60px;
  left: 10;
  padding-top: 10px;
}

#stay-at-top-basket {
  float: left;
  width:             100%;
  height:            205px;
  background-color: #D2F1E4;
  color:             #48304D;
  position: fixed;
  top: 60px;
  left: 0;
  padding-top: 10px;
  padding-left: 10px;
}



#gender-filter {
  width: 300px;
  padding-top: 10px;
}

#gender-filter button {
  width: 90px;
}

#basket-counter, #page-title, #gender-filter {
  margin-left: 11px;
}

#products {
  float: left;
  text-align: left;
  margin-top: 20px;
  margin-bottom: 40px;
  width: 320px;
}

#products button {
  width: 300px;
}

ul {
  float: left;
  list-style-type: none;
  padding-left: 10px;
}

#order {
  margin-top: 150px;
  float: left;
}
