@media (max-width: 2000px) {
  header h1, footer a {
    margin-left: 400px
  }

  #stay-at-top-store, #stay-at-top-basket, ul {
    padding-left: 400px;
  }
}

@media (max-width: 900px) {
  header h1, footer a {
    margin-left: 200px
  }

  #stay-at-top-store, #stay-at-top-basket, ul {
    padding-left: 200px;
  }
}

@media (max-width: 710px) {
  header h1, footer a {
    margin-left: 100px
  }

  #stay-at-top-store, #stay-at-top-basket, ul {
    padding-left: 100px;
  }
}

@media (max-width: 610px) {
  header h1, footer a {
    margin-left: 60px
  }

  #stay-at-top-store, #stay-at-top-basket, ul {
    padding-left: 60px;
  }
}

@media (max-width: 510px) {
  header h1, footer a {
    margin-left: 30px
  }

  #stay-at-top-store, #stay-at-top-basket, ul {
    padding-left: 30px;
  }
}

@media (max-width: 450px) {
  header h1, footer a {
    margin-left: 10px
  }

  #stay-at-top-store, #stay-at-top-basket, ul {
    padding-left: 10px;
  }
}

#basket-counter, #gender-filter {
  margin-left: 11px;
}

header {
  width: 100%;
  height: 65px;
  background-color: #48304D;
  color: #D2F1E4;
  position: fixed;
  top: 0;
  left: 0;
  padding-bottom: 5px
}

footer {
  width: 100%;
  height: 40px;
  background-color: #48304D;
  color: #D8CFAF;
  position: fixed;
  bottom: 0;
  left: 0;
}

footer a {
  margin-bottom: 0;
}

a:visited {
  color: #FBCAEF;
}

a {
  color: #FBCAEF;
}

#stay-at-top-store {
  float: left;
  width: 100%;
  height: 60px;
  background-color: #D2F1E4;
  color: #48304D;
  font-weight: lighter;
  position: fixed;
  top: 60px;
  padding-top: 10px;
}

main {
  margin-top: 150px;
}

#stay-at-top-basket {
  float: left;
  width: 100%;
  height: 205px;
  background-color: #D2F1E4;
  color: #48304D;
  position: fixed;
  top: 60px;
  left: 0;
  padding-top: 10px;
}

img {
  width: 300px;
}

#gender-filter {
  width: 300px;
  padding-top: 10px;
}

#gender-filter button {
  width: 90px;
}

#products {
  float: left;
  text-align: left;
  margin-top: 20px;
  margin-bottom: 40px;
  width: 320px;
  margin-left: 0px;
}

#products button {
  width: 300px;
}

ul {
  float: left;
  list-style-type: none;
}

#order {
  margin-top: 100px;
  float: left;
}

body {
  border-left: 200px;
  width: 100%;
  color: #48304D;
}
