
<h1> Products </h1>

<ul id='products'>
  <% @products.each do |product| %>
    <li>
      Product: <%= product.name %>
      Price: £99.00
      Category:   <%= product.category %>
    </li>
  <% end %>
</ul>
