
<h1> Products </h1>

<ul id='products'>
  <% @products.each do |product| %>
    <li>
      <p> Product: <%= product.name %> </p>
      <p> Price: £<%= product.price.to_s[0...-2] %>.<%= product.price.to_s[-2..-1] %> </p>
      <p> Category:   <%= product.category %> </p>
    </li>
  <% end %>
</ul>
