
<h1> Products </h1>

<ul id='products'>
  <% @products.each do |product| %>
    <li>
      <p> Product: <%= product.name %> </p>
      <p> Price: £99.00 </p>
      <p> Category:   <%= product.category %> </p>
    </li>
  <% end %>
</ul>
