<!DOCTYPE html>
<html>
  <head>
    <title>Shop-Shop-a-Shop</title>
    <link rel="stylesheet" href ="/styles.css" type='text/css'>
  </head>
  <body>
    <header>
      Shop-Shop-a-Shop
    </header>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
